<% @clothings = Clothing.dirty %>
<% if @clothings.any? %>
  <% @clothings.each do |clothing|%>

  <div class="large-4 small-3 columns">
    <%= image_tag clothing.image.thumb %>
      <h5><%= link_to clothing.clothing_style, clothing %></h5>
      <h6>

          <%= form_for (clothing) do |f| %>
              <%= f.submit "Mark as clean", :class => "button tiny"%>
            <% end %>

      </h6>

  </div>
          <% end %>
<%else%>
  <h5> There are no clothing in you laundry bag </h5>
<%end%>
