<div class ="large-4 column">
  <div class="row"><%= image_tag @outfit.top.image %></div>
  <div class="row"><%= image_tag @outfit.bottom.image %></div>
  <div class="row"><%= image_tag @outfit.shoe_pair.image %></div>
</div>
