<div class ="large-2 column">
  <div class="row"><img src= "<%= @outfit.top.pic %>" width="200" height="200" /></div>
  <div class="row"><img src= "<%= @outfit.bottom.pic %>"width="200" height="200" /></div>
</div>
